:root {
	--font-body: 'Barlow', sans-serif;
	--primaryBlue: rgb(0, 185, 255);
	--white: rgb(255, 255, 255);
	--backgroundWhite: rgb(247, 249, 251);
	--notehubBlue: rgb(27, 58, 82);
	--textBlack: rgb(5, 6, 7) 
	font-family: var(--font-body);
}

body {
	color: var(--notehubBlue);
	background: var(--background);
	margin: 0;
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5;
}
